.display {
  position: relative;
  width: 175%;

  &__laptop-block {
    position: absolute;
    height: 40%;
    width: 40%;
    top: 65%;
    z-index: 4;
    left: 30%;
    bottom: 0;
  }

  &__mobile-block {
    position: absolute;
    height: 30%;
    width: 10%;
    top: 72%;
    left: 29.5%;
    z-index: 4;
    bottom: 0;
  }

  &__tv {
    position: relative;
    z-index: 2;
    width: 100%;
  }

  &__laptop {
    width: 100%;
    position: relative;
    z-index: 4;
  }

  &__mobile {
    height: 100%;
    z-index: 4;
    position: relative;
  }

  &__img {
    position: absolute;
    object-fit: cover;
  }
  &_tv-img {
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    right: 0;
    left: 0;
    padding: 1% 1% 6.5%;
  }

  &_laptop-img {
    width: 82%;
    height: 90%;
    z-index: 2;
    padding: 2% 2%;
    left: 10%;
  }

  &_mobile-img {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 6% 7%;
  }

  &__gradient {
    height: 100px;
    background: radial-gradient(50% 100% at 49.51% -0.97%, rgba(151, 151, 151, 0.74) 0%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    bottom: -60px;
    opacity: 0.8;
    width: 100%;
  }
}