.display {
  position: relative;
  margin-top: 60px;

  &__tv {
    position: relative;
    z-index: 2;
    height: 332px;
  }

  &__laptop {
    height: 146px;
    position: absolute;
    left: 168px;
    top: 200px;
    z-index: 3;
  }

  &__mobile {
    height: 90px;
    position: absolute;
    left: 164px;
    top: 253px;
    z-index: 4;
  }

  &__img {
    position: absolute;
    object-fit: cover;
  }
  &_tv-img {
    top: 0;
    height: 303px;
    width: 525px;
    z-index: 1;
    left: 0;
    padding: 4px;
  }

  &_laptop-img {
    width: 195px;
    top: 209px;
    height: 120px;
    z-index: 2;
    padding: 2px;
    left: 190px;
  }

  &_mobile-img {
    height: 90px;
    width: 46px;
    top: 252px;
    left: 164px;
    z-index: 3;
    padding: 2px 3px;
  }
  &__gradient {
    height: 100px;
    background: radial-gradient(50% 100% at 49.51% -0.97%, rgba(151, 151, 151, 0.74) 0%, rgba(196, 196, 196, 0) 100%);
    position: absolute;
    bottom: -70px;
    width: 570px;
  }
}