.features-page {
  background: #000;
  position: relative;
  overflow: hidden;

  &__title {
    line-height: 28px;
  }

  &_space {
    padding-top: 80px;
  }

  &__text {
    font-size: 15px;
    opacity: 0.8;
    font-family: 'SF UI Display Light';
    padding-top: 15px;
    line-height: 20px;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__display {
    margin-top: 60px;
  }


  &__mobile-display {
    margin-top: 30px;
  }
}