.features-page {
  background: #000;
  position: relative;

  &__title {
    padding-top: 80px;
  }

  &__text {
    font-size: 15px;
    opacity: 0.8;
    font-family: 'SF UI Display Light';
    padding-top: 15px;
  }

  &_none-space {
    padding-top: 0px;
  }

  &__gradient {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 230px;
    left: 0;
    background: linear-gradient(179.86deg, rgba(16, 16, 16, 0) 37.5%, #000000 90.39%);
  }
}