.header {
  background: url("../../public/images/header-bg.jpg") center center no-repeat;
  background-size: cover;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    font-size: 30px;
  }

  &__text {
    padding-top: 10px;
    font-family: 'SF UI Display Light';
    opacity: 0.8;
  }
  &__arrow {
    margin: 0 auto;
    display: block;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
}