.plans-page {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;

  &_first {
    background-image: url("../../public/images/plans-image_first.png");
  }
  &_second {
    background-image: url("../../public/images/plans-image_second.png");
  }
  &_third {
    background-image: url("../../public/images/plans-image_third.png");
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 0px;
  }

  &__block {
    &:first-child {
      flex-basis: 25%;
    }
    &:last-child {
      flex-basis: 35%;
    }
  }

  &__subscribe {
    font-size: 16px;
    font-family: 'SF UI Display Light',sans-serif;
    letter-spacing: 0.5px;
    display: block;
    line-height: 22px;
  }
  &__plan {
    letter-spacing: 1px;
    padding-top: 5px;
    line-height: 29px;
  }

  &__title {
    line-height: 43px;
  }

  &__text {
    font-size: 16px;
    font-family: 'SF UI Display Light',sans-serif;
    padding-top: 10px;
    line-height: 22px;
  }

  &__price {
    font-family: 'SF UI Display Regular',sans-serif;
    padding: 10px 0px 14px;
    line-height: 30px;
  }

  &__more {
    color: #fff;
    font-size: 11px;
    letter-spacing: 1.3px;
    font-family: 'SF UI Display Light',sans-serif;
    display: inline-block;
    padding-top: 20px;
    line-height: 13px;
  }
  &__description {
    font-size: 12px;
    font-family: 'SF UI Display Light',sans-serif;
    opacity: 0.6;
    padding-top: 10px;
  }
}